<section class="vh-100 bg-light d-flex align-items-center justify-content-center p-3">
  <div class="card shadow-lg w-100" style="max-width: 500px; border-radius: 1rem;">
    <div class="card-body p-5 text-center">

      <header class="mb-4">
        <h2 class="fw-bold text-uppercase text-primary mb-2">Iniciar Sesión</h2>
        <p class="text-muted">Por favor, ingrese su correo y contraseña</p>
      </header>

      <form [formGroup]="form" (ngSubmit)="login()" class="mb-4">
        <div class="form-floating mb-4">
          <input type="email" id="email"
            class="form-control form-control-lg"
            formControlName="email"
            placeholder="name@example.com"
            placement="top"
          />
          <label for="email">Correo</label>
        </div>

        <div class="form-floating mb-4">
          <input type="password" id="passwordPersona"
            class="form-control form-control-lg"
            formControlName="password"
            placeholder="Contraseña"
            placement="top"
            autocomplete="one-time-code"
          />
          <label for="passwordPersona">Contraseña</label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <button class="btn btn-primary btn-lg px-5" type="submit" [disabled]="form.invalid">Ingresar</button>
          <button class="btn btn-outline-secondary btn-lg px-5" type="button" (click)="onBack()">Volver</button>
        </div>
      </form>

      <footer class="mt-2">
        <p class="mb-0 text-muted">
          ¿No tienes una cuenta? <a routerLink="/register" class="text-primary fw-bold">Regístrate</a>
        </p>
      </footer>

    </div><!--end card-body-->
  </div><!--end card-->
</section>

